header {
    margin-top: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*body{
    background-image: url('img/background.jpg');
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}*/


.avatar{
    width: 8em;
    height: 8em;
    border-radius: 100%;
    border: 1px solid #fff;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

.username{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 1em;
    background-color: #000a;
    color: #fff;
    padding: 0.3em 0.6em;
    border: 1px solid #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

.link-container{
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    max-width: 480px
}

.link-list{
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    max-width: 480px;
}

.link-element{
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    padding: 1em;
    margin: 1.4em 0;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

.link-element a{
    padding: auto;
    color: black;
    text-decoration: none;
}

.link-list .link-element a{
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}